:host {
  --border-radius: 3px;
  --dark-grey: #666;
  --shadow: 0 1px 5px var(--dark-grey);
}

div.ico > button {
  display: block;
  position: relative;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  color: black;
  background: white;
  border: none;
  outline: none;
  margin-top: 0.2em;
  cursor: pointer;
}
div.ico > button:hover {
  color: var(--dark-grey);
}
div.ico > button > * {
  position: absolute;
  inset: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.view-graph {
  /* position: absolute; */
  /* display: block; */
  transition: opacity 0.75s ease, width 0.75s ease;
  overflow: hidden;
  font-family: sans-serif;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  padding: 1rem;
  cursor: grab;

  :active {
    cursor: grabbing;
  }
}

.graph {
  /* position: absolute; */
  overflow: visible;
  width: 100%;
  height: 100%;

  transform-origin: 0px 0px;

  user-select: none;
}

.graph-node__label {
  font-size: 1.2rem;
  font-weight: 500;
}

.graph-edge__label {
  font-size: 1rem;
}
